.idea/
.DS_Store

# Exclude store files
store/*.sst
store/CURRENT
store/LOCK
store/MANIFEST-*
store/OPTIONS-*
store/*.log

go-archiver
*.swagger.json

# Exclude deploy script
deploy.sh

extract_dennis_contributions.sh
my_contributions.txt
tmp_changed_files_cleaned.txt
tmp_my_commits.txt